.footer-nav {
  display: grid;
  grid-template-columns: repeat(2, 110px);
  column-gap: 53px;
  margin-top: 60px;
  padding-left: 50px;
  padding-right: 50px;

  @include vp-768 {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include vp-1024 {
    grid-template-columns: 110px 1fr;
    column-gap: 90px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  @include vp-1280 {
    column-gap: 130px;
  }
}

.footer-nav__title {
  margin: 0;
  padding-left: 26px;
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 143%;
  text-transform: uppercase;
  color: $color-dark-orange;
  background-image: url("../img/svg/icon-polygon-active.svg");
  background-repeat: no-repeat;
  background-size: 18px 20px;
  background-position: left center;
}

.footer-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 12px;

  @include vp-1024 {
    margin-top: 21px;
  }
}

.footer-nav__item {
  margin-top: 6px;

  @include vp-1024 {
    margin-top: 10px;
  }
}

.footer-nav__link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 0.88rem;
  line-height: 129%;
  text-transform: uppercase;
  color: $color-default-white;
}

@include vp-1024 {
  .footer-nav__inner {
    margin-right: -5px;
  }
}
