.form {
  margin-top: 31px;
  display: grid;

  @include vp-1024 {
    margin-top: 35px;
  }
}

.form__list {
  display: grid;
  margin: 0;
  padding: 0;

  @include vp-768 {
    column-gap: 20px;
  }

  @include vp-1024 {
    column-gap: 19px;
  }
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;

  @include vp-1024 {
    margin-bottom: 30px;
  }
}


.form__label {
  margin-left: 4px;
  width: max-content;
  font-weight: 600;
  font-size: 0.81rem;
  line-height: 100%;
  padding-bottom: 13px;
}

.form__input,
.form__textarea {
  min-height: 38px;
  padding: 9px 13px;
  font-family: $ff-raleway;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 100%;
  color: $color-default-black;
  border: 1px solid $color-link-water-grey;
  border-radius: 8px;
  outline: none;

  @include vp-1024 {
    min-height: 39px;
  }
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: $color-eclipse-light-black;
  opacity: 0.5;
}

.form__textarea {
  min-height: 96px;
  resize: none;

  @include vp-1024 {
    min-height: 96px;
  }
}

.form__input:focus,
.form__textarea:focus {
  border: 1px solid $color-nero-dark-black;
}

.form__button {
  justify-self: center;
  margin-bottom: 38px;
  margin-top: 16px;
  margin-left: 7px;
  padding: 18px;
  width: 200px;
  font-weight: 700;
  line-height: 129%;

  @include vp-768 {
    justify-self: start;
  }

  @include vp-1024 {
    margin-top: 1px;
    margin-left: -3px;
  }
}

@include vp-768 {
  .form__item--address,
  .form__item--textarea {
    grid-column: 1/3;
  }
}


@include vp-1024 {
  .form__item:first-child {
    width: 99%;
  }
}
