.product-spotlight {
  max-width: 1303px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 28px;
  padding-right: 28px;

  @include vp-1280 {
    grid-template-columns: 1fr 724px;
    grid-template-rows: min-content min-content;
    align-items: center;
  }
}

.product-spotlight__title {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 133%;
  color: $color-slate-blue;

  @include vp-768 {
    font-size: 2.5rem;
    line-height: 138%;
  }
}

.product-spotlight__text {
  font-size: 0.94rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: $color-grey;
}

.product-spotlight__link {
  display: block;
  width: max-content;
  margin-top: 48px;
  justify-self: center;
  padding: 10px 18px;
  font-weight: 700;
  line-height: 129%;

  @include vp-1280 {
    justify-self: start;
    margin-top: 0;
    grid-row-start: 2;
  }
}
