.product-spotlight {
  max-width: 1303px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  margin-top: 59px;
  padding: 40px 28px 50px;

  @include vp-768 {
    padding-bottom: 20px;
  }

  @include vp-1024 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: min-content min-content;
    align-items: center;
  }

  @include vp-1280 {
    grid-template-columns: 1fr 724px;
    grid-template-rows: min-content min-content;
    align-items: center;
  }

  @include vp-1440 {
    max-width: 1322px;
    padding: 55px 0 50px 21px;
  }
}

.product-spotlight__title {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 133%;
  color: $color-slate-blue;

  @include vp-768 {
    font-size: 2.5rem;
    line-height: 138%;
  }

  @include vp-1024 {
    margin-top: 86px;
  }
}

.product-spotlight__text {
  margin-top: 17px;
  margin-right: 25px;
  font-size: 0.94rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: $color-grey;

  @include vp-1024 {
    margin: 0;
    margin-top: 7px;
    margin-right: 20px;
    padding-bottom: 15px;
  }

  @include vp-1280 {
    margin-right: 70px;
  }

  @include vp-1440 {
    margin-right: 120px;
  }
}

.product-spotlight__link {
  display: block;
  width: max-content;
  margin-top: 40px;
  justify-self: center;
  padding: 13px 47px;
  font-weight: 700;
  line-height: 129%;

  @include vp-768 {
    margin-top: 58px;
  }

  @include vp-1024 {
    justify-self: start;
    margin-top: 0;
    grid-row-start: 2;
    margin-bottom: 141px;
  }

  /* @include vp-1280 {
  } */
}
