// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette

$color-eclipse-black:    #363636;
$color-nero-light-black: #252525;
$color-nero-black:       #232323;
$color-navy-blue:        #0066ff;
$color-shocking-pink:    #f101bf;
$color-slate-blue:       #7050e5;
$color-dark-orange:      #ff8b00;
$color-grey:             #878787;

$color-resolution-blue--20: rgba(28, 51, 116, 0.2);

// Gradient

//$crimson-to-smalt: linear-gradient(166deg, $color-crimson-red 20%, $color-smalt-blue 100%);

// fonts
$fz-default: 16px;

$ff-proxima-nova: "Proxima Nova", "Arial", sans-serif;
$ff-raleway: "Raleway", "Impact", sans-serif;

// Viewports
// ---------------------------------

$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
